

.digital-clock {
    font-family: Orbitron;
    background-color: black;
    color: white;
    width: 8em;
    font-size: 2.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border: 1 solid;
    border-radius: 0.5em;
}

.blink {  
    animation: blink 3s infinite;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }